In [3]:

import pandas as pd
from ats_module.text_preprocessing import *
nk = Nickonlpy(base=False)
from tqdm import tqdm
tqdm.pandas()
import sys
import re
from glob import glob
from work import *

In [6]:

## 원본
path = "../data/우리은행/작업/최승언/dataset16_4_최승언.csv"
df = pd.read_csv(path, encoding="utf-8-sig", index_col=0)
# df = df[~df["확인용"].isnull()]
# df = df.drop_duplicates(['확인용'])


## 공통
# path = "../data/우리은행/작업/공통/*2.csv"
# df = pd.DataFrame()
# for path in glob(path):
#     etc = pd.read_csv(path, encoding="utf-8-sig", index_col=0)
#     df = pd.concat([df, etc], axis=0)
# df_1 = df[df["완료여부"]==1].copy()
# df_2 = df[df["완료여부"].isnull()].copy()


## 개별
# path = "../data/우리은행/작업/공통/dataset_8.csv"
# df = pd.read_csv(path, encoding="utf-8-sig", index_col=0)
# df_1 = df[df["완료여부"]==1].copy()
# df_2 = df[df["완료여부"].isnull()].copy()

# len(df), len(df_2),

df

,확인용,적요,적요일련번호,금융회사,입출금구분,데이터셋출처,출처번호,적요구조,적요구조일련번호,적요 설명,...,분류,분류번호,최소금액,최대금액,단어,단어일련번호,단어의미,개체명,완료여부,Unnamed: 21
49500,61371,비온뒤무지개,33848,NaN,출금,우리은행,F020,회사명,NaN,비온뒤무지개에 이체한 내역의 적요이다.,...,회사출금,EI05,0,10000,비온뒤무지개,0.0,비온뒤무지개,회사명,1.0,NaN
49501,61371,비전아시아미션,33852,NaN,출금,우리은행,F020,회사명,NaN,비전아시아미션에 이체한 내역의 적요이다.,...,회사출금,EI05,10000,10000,비전아시아미션,0.0,비전아시아미션,회사명,1.0,NaN
49502,61372,비전택스,33855,NaN,출금,우리은행,F020,회사명,NaN,비전택스에 이체한 내역의 적요이다.,...,회사출금,EI05,77000,220000,비전택스,0.0,비전택스,회사명,1.0,NaN
49503,61372,비정규노동센,33856,NaN,출금,우리은행,F020,회사명,NaN,비정규노동센에 이체한 내역의 적요이다.,...,회사출금,EI05,10000,10000,비정규노동센,0.0,비정규노동센,회사명,1.0,NaN
49504,61373,비정규센터,33857,NaN,출금,우리은행,F020,회사명,NaN,비정규센터에 이체한 내역의 적요이다.,...,회사출금,EI05,10000,10000,비정규센터,0.0,비정규센터,회사명,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65619,72029,신천중하복,38745,우리은행,출금,우리은행,F020,직접입력,NaN,신천중하복에 이체한 내역의 적요이다,...,교육비,EF01,0,0,NaN,NaN,NaN,NaN,NaN,NaN
65620,72030,신촌유치원,38750,우리은행,출금,우리은행,F020,자동입력,NaN,신촌유치원에 이체한 내역의 적요이다,...,유아교육,EF02,190000,190000,NaN,NaN,NaN,NaN,NaN,NaN
65621,72030,신평가족적금,38758,우리은행,출금,우리은행,F020,직접입력,NaN,신평가족적금에 이체한 내역의 적요이다,...,저축/투자,EA04,0,0,NaN,NaN,NaN,NaN,NaN,NaN
65622,72031,신평초항공과학,38759,우리은행,출금,우리은행,F020,직접입력,NaN,신평초항공과학에 이체한 내역의 적요이다,...,교육비,EF01,60000,60000,NaN,NaN,NaN,NaN,NaN,NaN
65623,72031,신학자금,38767,우리은행,출금,우리은행,F020,직접입력,NaN,신학자금에 이체한 내역의 적요이다,...,대출금상환,EA03,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:

# df_2 = come_pay_proc(df_2)
# df_2 = prof_serv_proc(df_2)
# df_2 = pers_tran_proc(df_2)
# df_2 = dona_proc(df_2)
# df_2 = educ_spen_proc(df_2)
df_2 = etc_proc(df)

new_df = pd.concat([df_1, df_2], axis=0)

len(new_df), len(df_2)

100%|██████████| 8524/8524 [01:25<00:00, 99.64it/s]

(65631, 11790)

In [5]:
a = len(new_df["확인용"].unique())
b = len(new_df[new_df["완료여부"]==1]["확인용"].unique())

print("전체개수: ", a)
print("완료개수: ", b)

전체개수:  39978
완료개수:  34720

In [6]:
path = "../data/우리은행/작업/공통/dataset_9.csv"
new_df.to_csv(path, encoding="utf-8-sig")